server:
  port: 8080

spring:
  application:
    name: sentry-demo

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.example.demo: DEBUG

sentry:
  dsn: https://13721a440e641634c7897544a16ca1b7@o4510666582982656.ingest.us.sentry.io/4510667645648896
  # Add data like request headers and IP for users,
  # see https://docs.sentry.io/platforms/java/guides/spring-boot/data-management/data-collected/ for more info
  send-default-pii: true
